ul{
		height: 1000px;
		background: black;
		padding-top: 80px;
		padding-left: 30px;
	}
	ul i{
	text-decoration: none;
		font-size:18px;
		font-weight: bold;
	    color: white;
	    font-family: "Microsoft YaHei";
	}
	li{ 

		height: 30px;
		width: 80%;
        padding-top: 25px;

	}
	a{
		text-decoration: none;
		font-size:18px;
		font-weight: bold;
	    color: white;
	    font-family: "Microsoft YaHei";

		}
	a:hover{
		color:  #3399CC;
	}